<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    <p>
      Hi <%= @user.email %>,
    </p>

    <p>
      Thanks for registering, this is your sign up confirmation.
    </p>

    <strong><p>
      Blocipedia
    </p></strong>
  </body>
</html>
