<h4 class="text-center">
  Add Collaborators to the <%= @wiki.title %> Wiki (showing all users)
</h4>

<div class="container">
  <div class='row col-md-6 col-md-offset-3'>

    <table class='table table-striped'>
      <div class="media">
        <thead>
          <th><h3 class="media-heading">Name</h3></th>
          <th><h3 class="media-heading text-center">Collaborators</h3></th>
        </thead>

        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <% unless user == current_user %>
                <td>
                  <div class="media-body">
                    <em><%= user.email %></em>
                  </div>
                </td>
                <td>
                  <div class="media-body text-center">
                    <% if @wiki.users.include?(user) %>
                      <%=link_to wiki_toggle_collaborator_path(@wiki.id, :col => user), method: :put, remote: true do %>
                        <span class="glyphicon glyphicon-check"></span>
                      <% end %>
                    <% else %>
                      <%=link_to wiki_toggle_collaborator_path(@wiki.id, :col => user), method: :put, remote: true do %>
                        <span class="glyphicon glyphicon-unchecked"></span>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end -%>
        </tbody>

      </div>
    </table>
    <br>
  </div>
</div>
