<div class="container">
  <div class='row col-md-6 col-md-offset-3'>

    <table class='table table-striped'>
      <div class="media">
        <thead>
          <th><h3 class="media-heading">Name</h3></th>
          <th><h3 class="media-heading text-center">Collaborators</h3></th>
        </thead>

        <tbody>
          <% User.all.each do |user| %>
            <tr>
              <% unless user == current_user %>
                <td>
                  <div class="media-body">
                    <em><%= user.email %></em>
                  </div>
                </td>
                <td>
                  <div class="media-body text-center">
                    <%#= check_box_tag "wiki[user_ids][]", user.id, @wiki.user_ids.include?(user.id) %>
                    <% if @wiki.user_ids.include?(user.id) %>
                      <span class="glyphicon glyphicon-check"></span>
                    <% else %>
                      <span class="glyphicon glyphicon-unchecked"></span>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end -%>
        </tbody>

      </div>
    </table>
    <br>
  </div>
</div>
