<h1>
  <%= @wiki.title %>
  <% if @wiki.private? %>
    <small><span class="glyphicon glyphicon-lock"></span></small>
  <% end %>
</h1>

<div class='row'>
  <div class='col-md-8'>
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class='col-md-4'>
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
  </div>
</div>
