// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div1 {
   width: 100px;
   height: 100px;
   box-sizing: border-box;
}
